# Omit or set to -1 to tail the Rekor log
# index: 0

logging:
  level: trace

policies:
- name: x509-used
  description: |-
    Alerts if any x509 type key is used
  body: |
    package sidekick
    default alert = false
    alert {
      format := input.spec.signature.format
      format == "x509"
    }
- name: allow-all
  description: |-
    Alerts on all entries
  body: |
    package sidekick
    default alert = true

outputs:
  stdout:
    enabled: true
